@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@400;600;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Kalpurush", "Noto Sans Bengali", "SolaimanLipi", sans-serif;
}

input,
textarea,
select,
option {
  color: inherit;
}

.bg-gray-750 {
  background-color: #fff;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-area,
  #printable-area * {
    visibility: visible;
  }
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    background: white;
    color: black;
  }
  button {
    display: none !important;
  }
}
