@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@400;600;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Kalpurush", "Noto Sans Bengali", "SolaimanLipi", sans-serif;
}

input,
textarea,
select,
option {
  color: inherit;
}

.bg-gray-750 {
  background-color: #fff;
}

@media print {
  /* catches the gradient div itself, regardless of Tailwind's utility specificity */
  .bg-linear-to-br {
    background: white !important;
  }

  .print-hide {
    display: none !important;
  }
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    background: white;
    color: black;
  }
  #export-controls,
  button {
    display: none !important;
  }
}

/* add scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind's gray-800 */
}
::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Tailwind's gray-600 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Tailwind's gray-500 */
}
::-webkit-scrollbar-corner {
  background: #1f2937; /* Tailwind's gray-800 */
}
